* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #161a23;
  touch-action: manipulation;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 360px;
}

.main .navigation {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.main .navigation span {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #fff;
  transform: translate(calc(36px * var(--x)), calc(36px * var(--y)));
  transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
  transition-delay: calc(0.1s * var(--i));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 0em; /* Untuk emoji */
}

.main .navigation.active span {
  width: 100px;
  height: 100px;
  background: #1f2536;
  transform: translate(calc(120px * var(--x)), calc(120px * var(--y)));
  font-size: 2.5em; /* Tampilkan emoji besar */
}

.main .navigation span ion-icon {
  transition: 0.5s;
  font-size: 0em;
  color: #fff;
}

.main .navigation.active span ion-icon {
  font-size: 2.5em;
}

/* Neon effect untuk icon saat hover */
.main .navigation.active span:hover ion-icon {
  color: #2dfc52;
  filter: drop-shadow(0 0 4px #2dfc52) drop-shadow(0 0 7px #2dfc52) drop-shadow(0 0 20px #2dfc52);
}

/* Neon effect untuk emoji saat hover */
.main .navigation.active span:hover {
  font-size: 2.7em;
  filter: drop-shadow(0 0 4px #2dfc52) drop-shadow(0 0 7px #2dfc52) drop-shadow(0 0 20px #2dfc52);
  transform: scale(1.1) translate(calc(120px * var(--x)), calc(120px * var(--y)));
}

.close {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #fff;
  transition: 0.5s;
  transition-delay: 0.4s;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.main .navigation.active ~ .close {
  width: 100px;
  height: 100px;
  pointer-events: initial;
  transition-delay: 0.8s;
  background: #2dfc52;
}

.main .navigation ~ .close ion-icon {
  font-size: 2.8em;
  scale: 0;
  color: #10131c;
  transition: 0.5s;
}

.main .navigation.active ~ .close ion-icon {
  scale: 1;
  transition-delay: 1s;
}
