body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Serif';
}
#overlay {
  background: url("bluesky.gif") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lyrics {
  font-size: 2em;
  color: white;
  text-align: center;
  width: 80%;
  text-shadow: 2px 2px 4px #000;
}
